body,html {
  margin: 0px;
  padding: 0px;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
#main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;

}
input {
  display: block;
  outline: none;
  padding: 5px;
  border: none;
  width: 250px;
  background: none;
  cursor: pointer;
  padding-left: 20px;
}
input::placeholder {
  color: #916cb6;
  font-size: 20px;
  font-family: JetBrainsMono;
}
#startTestBtn {
  background-color: #916cb6;
  color: white;
  text-align: center;
  padding: 20px;
  width: 300px;
  margin-top: 20px;
  text-decoration: none;
  display: block;
  border-radius: 12px;
  font-size: 18px;
  box-shadow: 0px 10px 10px 0px #bcaeeb;
  font-family: JetBrainsMono;
}

div > p {
  color: #593e73;
}
#welcome {
  font-size: 30px;
  font-family: JetBrainsMono;
}
@font-face {
  font-family: JetBrainsMono;
  src: url(docs/JetBrainsMono/JetBrainsMono-Medium.ttf);
}
#text {
  font-size: 18px;
  font-family: JetBrainsMono;
}
#mainLeft {
  width: 743px;
  height: 100vh;
  background-image: url(docs/image\ 2\ \(2\).png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#mainRight {
  width: 1000px;
  height: 100vh;
  float: right;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#rightBackground {
  width: 95%;
  height: 95%;
  background: #c6cff242;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 40px;
}
#iconImg {
  height: 100px;
  width: 100px;
  margin-top: 20px;
}
#menuImg {
  width: 55px;
  height: 49px;
  margin-top: 30px;
  margin-left: 25px;
  cursor: pointer;
}
li {
  color: white;
  list-style-type: none;
  margin-top: 20px;
  font-size: 16px;
  font-family: JetBrainsMono;
}
li > a {
  text-decoration: none;
  color: white;
}
#startBtn {
  background-color: white;
  color: #593e73;
  font-family: JetBrainsMono;
  padding-left: 8px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-radius: 17px;
  font-size: 18px;
  z-index: 1;
  width: 100px;
  position: absolute;
  right: -35px;
  top: 40%;
}
input:first-of-type {
  display: inline;
}
#personIconImg {
  width: 30px;
  height: 30px;
}
#input1,
#input2 {
  border: 2px solid #9d73bf;
  margin-top: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 10px;
}

#age {
  margin-left: 30px;
}
