body {
  padding: 0px;
  margin: 0px;
  height: 100vh;
  
}
#container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.mainTop {
  background: linear-gradient(180deg, #9D73BF 0%, #8863A5 46.98%, #593E73 100%);
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s linear, display 0.5s linear;
  position: absolute;
  top: 0;
}
.pDiv {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.pDiv p {
  font-family: monospace, sans-serif;
  color: rgb(248, 233, 255);
  font-size: 15px;
}
#leftDivP {
  display: flex;
  align-items: center;
  justify-content: center;
}
#leftDivP p {
  margin: 5px;
}
/* /// */
#rightDivSpan {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#rightDivSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  width: 50%px;
  height: 50%px;
}
#minutes {
  text-align: center;
  background: transparent;
  border: 2px solid rgb(230, 191, 253);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  color: #8c1c44;
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 5px;
}
#minutes p {
  margin: 5px;
  font-weight: 700;
}
#seconds {
  text-align: center;
  background: transparent;
  border: 2px solid rgb(230, 191, 253);
  border-radius: 10px;
  backdrop-filter: blur(15px);
  color: #8c1c44;
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 5px;
}
#seconds p {
  margin: 5px;
  font-weight: 700;
}
/* //// */

.answerImages {
  flex-wrap: nowrap;
align-items: end;
margin-bottom: 100px;
}
#container {
  position: relative;
}
.mainBottom {
 position: absolute;
 bottom: 0;
  width: 100%;
  display: flex;
 justify-content: center;

}
.mainBottom img {
  cursor: pointer;
  margin-left: 25px;
}
.mainTestImg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBottom img:hover {
  /* border: 2px solid white; */
  box-shadow: 0px 0px 7px 0px black;
  transform: scale(1.1);
}

.mainTestImg img {
  margin: 10px;
}
#whole2 {
  display: none;
}
#whole3 {
  display: none;
}
#whole4 {
  display: none;
}
#whole5 {
  display: none;
}
#whole6 {
  display: none;
}
#whole7 {
  display: none;
}
#whole8 {
  display: none;
}
#whole9 {
  display: none;
}
#whole10 {
  display: none;
}
#whole11 {
  display: none;
}
#whole12 {
  display: none;
}
#whole13 {
  display: none;
}
#whole14 {
  display: none;
}
#whole15 {
  display: none;
}
#whole16 {
  display: none;
}
#whole17 {
  display: none;
}
#whole18 {
  display: none;
}
#whole19 {
  display: none;
}
#whole20 {
  display: none;
}
#whole21 {
  display: none;
}
#whole22 {
  display: none;
}
#whole23 {
  display: none;
}
#whole24 {
  display: none;
}
#whole25 {
  display: none;
}
#whole26 {
  display: none;
}
#whole27 {
  display: none;
}
#whole28 {
  display: none;
}
#whole29 {
  display: none;
}
#whole30 {
  display: none;
}

/* laoding page css */
#loadingDiv {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  z-index: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transition: opacity 0.5s linear, display 0.5s linear;
}
#loadingImg {
  width: 990px;
  height: 495px;
}
